
@font-face {
    font-family: 'Lazer84';
    src: url(fonts/lazer84/Lazer84.ttf);
}
@font-face {
    font-family: 'Retrofuturism';
    src: url(fonts/Retrofuturism/Retrofuturism.otf);
}

body{
    background-image: url('images/backround.jpg');
}
.selection-block,.score-block{
    display:inline-block;
}
.selection-block{
    width:40%;
  
   margin-left: 2rem;
}
.score-block{
    width:30%;
    margin-left:5rem ;
    padding:3rem auto;
    border: 1px groove black;
    /*background-color: burlywood;*/
    background-image: url('./images/Scoreboard.jpg');
}

img{
    margin:3rem 3rem;
}
h1{
    text-align: center;
    font-family: 'Lazer84',sans-serif;
    color:white;
}
h2{
    /*opacity for rgba: 0.722*/
    text-align: center;
    margin-top: 8rem;
    font-size: 4rem;
    font-family: 'Retrofuturism',sans-serif;
    
    background: linear-gradient(rgb(8, 8, 63),blue 50%,rgb(8, 8, 63) 10%,rgb(197, 33, 212 ),white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  

}
p{
    display:inline-block;
    font-size: 2.5rem;
    font-family: 'Lazer84',sans-serif;
    /*color: rgba(197, 33, 212, 0.722);*/
    color: white;
}
ul{
    list-style: none;
    margin:0 2rem;
}